@font-face {
  font-family: "Satoshi";
  src: url("../../FONTS/font/Satoshi-Regular.ttf");
}
@font-face {
  font-family: "Clash Display";
  src: url("../../FONTS/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf");
}
body{
  background-color:white;
}
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.error-page h1 {
  font-family: "Clash Display";
  font-size: 100px;
  font-weight: 700;
  color: #19BC9c;
  margin: 0;
}
.error-page p {
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 400;
  color: #2A254B;
  margin: 10px 0;
}
.error-page .subtext {
  font-size: 16px;
}
img{
  width: 500px;
  height: 400px;
}